<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">tests/Integration/</directory>
        </testsuite>
    </testsuites>

    <!-- Code coverage configuration -->
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
